<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>Poker</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="images/logo.png" alt="Chain App Dev">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#play" class="active">Play Now</a></li>
                            <li class="scroll-to-section"><a href="#statistics">Statistics</a></li>
                            <li class="scroll-to-section"><a href="#faq">FAQ</a></li>
                            <li>
                                <div class="gradient-button"><a id="connect-wallet" href="javascript:;">Connect
                                        Wallet</a>
                                </div>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div id="modal" class="popupContainer" style="display:none;">
        <div class="popupHeader">
            <span class="header_title">Login</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </div>

        <section class="popupBody">
            <!-- Social Login -->
            <div class="social_login">
                <div class="">
                    <a href="#" class="social_box fb">
                        <span class="icon"><i class="fab fa-facebook"></i></span>
                        <span class="icon_title">Connect with Facebook</span>

                    </a>

                    <a href="#" class="social_box google">
                        <span class="icon"><i class="fab fa-google-plus"></i></span>
                        <span class="icon_title">Connect with Google</span>
                    </a>
                </div>

                <div class="centeredText">
                    <span>Or use your Email address</span>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                    <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
                </div>
            </div>

            <!-- Username & Password Login form -->
            <div class="user_login">
                <form>
                    <label>Email / Username</label>
                    <input type="text" />
                    <br />

                    <label>Password</label>
                    <input type="password" />
                    <br />

                    <div class="checkbox">
                        <input id="remember" type="checkbox" />
                        <label for="remember">Remember me on this computer</label>
                    </div>

                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i>
                                Back</a></div>
                        <div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
                    </div>
                </form>

                <a href="#" class="forgot_password">Forgot password?</a>
            </div>

            <!-- Register Form -->
            <div class="user_register">
                <form>
                    <label>Full Name</label>
                    <input type="text" />
                    <br />

                    <label>Email Address</label>
                    <input type="email" />
                    <br />

                    <label>Password</label>
                    <input type="password" />
                    <br />

                    <div class="checkbox">
                        <input id="send_updates" type="checkbox" />
                        <label for="send_updates">Send me occasional email updates</label>
                    </div>

                    <div class="action_btns">
                        <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i>
                                Back</a></div>
                        <div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <div class="main-banner wow fadeIn" id="play" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="col-lg-12">
                        <div class="white-button first-button scroll-to-section">
                            <a class="create-table" data-type='0' href="javascript:;">Create 0.1 SOL</a>
                        </div>
                        <div class="white-button scroll-to-section">
                            <a class="create-table" data-type='1' href="javascript:;">Create 0.25 SOL</a>
                        </div>
                        <div class="white-button scroll-to-section">
                            <a class="create-table" data-type='2' href="javascript:;">Create 0.5 SOL</a>
                        </div>
                        <div class="white-button scroll-to-section">
                            <a class="create-table" data-type='3' href="javascript:;">Create 1.0 SOL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="room-panel left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
        </div>
    </div>


    <div id="statistics" class="services section" style="background-color: rgb(68, 67, 67);">
        <div class="container" style="min-height: 300px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1
                        style="font-weight: 700; color: white; text-shadow: -2px -2px 0 rgb(117, 78, 6), 2px -2px 0 rgb(117, 78, 6), -2px 2px 0 rgb(117, 78, 6), 2px 2px 0 rgb(117, 78, 6);">
                        LAST 10 GAMES</h1>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
    <div id="faq" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1
                        style="font-weight: 700; color: black; text-shadow: -1px -1px 0 rgb(117, 78, 6), 1px -1px 0 rgb(117, 78, 6), -1px 1px 0 rgb(117, 78, 6), 1px 1px 0 rgb(117, 78, 6);">
                        FAQ</h1>
                </div>
                <div class="col-lg-6 offset-lg-3">
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/animation.js"></script>
    <script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="socket.js"></script>

    <script src="utils.js"></script>

    <script type="text/javascript">
        let username = '';
        $(function () {
            // let provider = await getProvider();
            $('#connect-wallet').on('click', async () => {
                getProvider().then(provider => {
                    username = provider.publicKey.toString()

                    $.ajax({
                        url: "login",
                        type: "POST",
                        dataType: 'json',
                        data: {
                            username: username,
                        },
                        success: async function (response) {
                            if (response.success) {
                                connectNewPlayer(response.username)
                                $('#connect-wallet').text(response.username)
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('error');
                        }
                    });
                }).catch((err) => {
                    console.log(err)
                });
            })

            $('.create-table').on('click', function () {
                betSol({
                    type: $(this).data('type'),
                    order: 'create'
                })
            });

            $('.room-panel .join-table').on('click', function () {
                console.log(9989)
                betSol({
                    type: $(this).data('type'),
                    order: 'join',
                    roomId: $(this).data('room'),
                })
            })

        });

        function joinToRoom(data) {
            betSol(data)
        }
        function redrawAllRooms(data) {
            $('.room-panel').html('')

            let tmpHtml = '<div class="row mt-5">'
            for (let i = 0; i < data.rooms.length; i++) {
                let room = data.rooms[i]
                tmpHtml += '<div class="col-lg-6" style="display: flex; justify-content: center;">' +
                    '<div class="service-item">' +
                        '<h3 class="text-center mb-4" style="text-shadow: -1px -1px 0 #f00, 1px -1px 0 #f00, -1px 1px 0 #f00, 1px 1px 0 #f00;">SOL EM XPRESSO</h3>' +
                        '<div class="white-button">' +
                            `<a href="javascript:;" class="text-center join-table" style="min-width:110px; border-radius: 4px; padding: 5px 20px !important;" onclick="joinToRoom({order: 'join',type: ${room.type}, roomId: ${room.id}})">Enter</a>` +
                        '</div>' +
                        '<h6 class="text-center mt-1">3 players-1 winner</h6>' +
                        '<h6 class="text-center">30sec timer</h6>' +
                        '<div class="row" style="margin-top: 8%">' +
                            '<div class="col-lg-6">' +
                                '<div class="row">' +
                                    '<div class="col-lg-4">' +
                                        '<img class="mt-1" src="images/coin/black.png" />' +
                                    '</div>' +
                                    '<div class="col-lg-8">' +
                                        `<p style="text-align: justify; font-weight: 700; font-size: 20px; color: #000;">${[0.1, 0.25, 0.5, 1][room.type]} SOL</p>` +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                            '<div class="col-lg-6">' +
                                `<p style="text-align: right; font-weight: 700; font-size: 20px; color: #f00; text-shadow: -1px -1px 0 rgb(243, 247, 10), 1px -1px 0 rgb(243, 247, 10), -1px 1px 0 rgb(243, 247, 10), 1px 1px 0 rgb(243, 247, 10);">Up to x${room.reward} win</p>` +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>';

                if (i % 2 == 1) {
                    tmpHtml += '</div>'
                    $('.room-panel').append(tmpHtml)

                    tmpHtml = '<div class="row mt-5">'
                }
            }

            tmpHtml += '</div>'
            $('.room-panel').append(tmpHtml)
        }

        function betSol(data) {
            if (data.order == 'create') {
                sendCreateRoom({
                    username: username,
                    type: data.type,
                    // signature: signature,
                    // pubKey: provider.publicKey.toString(),
                });
            } else {
                sendJoinRoom({
                    username: username,
                    type: data.type,
                    roomId: data.roomId,
                    // signature: signature,
                    // pubKey: provider.publicKey.toString(),
                });
            }

            return;
        }
    </script>
</body>

</html>